*{
    background-color: antiquewhite;
}

.parent-container{
    height: 100vh;
    
    display: flex;
    align-items:center;
    justify-content: center;
}

.main-container {
    width: 80vw;
    height: 90vh;
    border: 2px solid #824C30;
    border-radius: 10px;
    overflow: hidden;
}

.topbar {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #824C30;
    text-align:center;
    justify-content: center;
}

.website-logo{
    font-size:35px;
}

.letters-block {
    width: 100%;
}

.letter{
    width: 100%;
    border-bottom:1px solid #824C30;
}

.letter-text{
    padding:5px;
    font-size: 20px;
}
.links{
    font-size:20px;
}
.sent
.accept {
    font-size: 15px;
}