* {
    font-family: Inter-Bold;

}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

.parent-container {
    width: 1920px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-container {
    width: 100%;
    background-color: White;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar {
    padding: 0 25px 0 25px;
    background-color: #24367D;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
}

.centered-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.website-logo{
    text-decoration: none;
    font-size: 64px;
    color: white;
}

.auth-buttons {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.auth-button {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    color: #24367D;
    font-size: 20px;
}

.main-content {
    width: 100%;
    flex-direction: row;
    flex: 1;
    display: flex;
}

.sidebar {
    width: 90px;
    border-right: 3px solid #24367D;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    gap: 12px;
}

.leftbar-navigation-button {
    padding: 10px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-color: #24367D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.letters-block {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.letters-topbar {
    width: 100%;
    height: 90px;
    border-bottom: 3px solid #24367D;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-string {
    padding: 0 20px 0 20px;
    width: 700px;
    height: 55px;
    border-radius: 20px;
    background-color: #2B4191;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-input {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: white;

    background: transparent;
    border: none;
    outline: none;
}

    .search-input::placeholder {
        color: #FFFFFF;
        opacity: 0.65;
    }

.pagination {
    font-size: 30px;
    color: #2B4191;
}

.letters {
    width: 100%;
    height: 750px;
    overflow-y: auto; /* вертикальная прокрутка */
    overflow-x: hidden; /* скрыть горизонтальную */
}

.letter-read {
    padding-left: 10px;
    background-color: white;
    height: 40px;
    width: 100%;
    border-bottom: 3px solid #24367D;
    display: flex;
    display: grid;
    align-items: center;
    grid-template-columns: 30px 200px 450px 1fr 120px;
    font-size: 20px;
}

.letter-sender-read,
.letter-theme-read,
.letter-date-read {
    color: #425398;
}

.letter-sender-read{
    margin-left: 10px;
}

.letter-theme-read{
    text-align: right;
    margin-right: 5px;
}

.letter-text-read {
    color: #6D79AC;
}

.letter-unread {
    padding-left: 10px;
    background-color: #CED8FF;
    height: 40px;
    width: 100%;
    border-bottom: 3px solid #24367D;
    display: flex;
    display: grid;
    align-items: center;
    grid-template-columns: 30px 200px 450px 1fr 120px;
    font-size: 20px;
}

.letter-sender-unread,
.letter-theme-unread,
.letter-date-unread {
    color: #1C2C6C;
}

.letter-sender-unread {
    margin-left: 10px;
}

.letter-theme-unread {
    text-align: right;
    margin-right: 5px;
}

.letter-text-unread {
    color: #485899;
}

.starred {
    width: 40px;
    height: 40px;
    left: 18px;
    top: 150px;
    background: #24367D;
    border: 1px solid #24367D;
}

.unstarred{

}
